/* Import stylów wspólnych */
@import url('main.css');

/* Specyficzne style dla strony About */
/* Sekcja Hero */
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(135deg, #007bff, #00e6e6);
    color: white;
    padding: 50px 20px;
    border-radius: 8px;
}

.hero-section h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

/* Sekcja z zespołem */
.team-section {
    padding: 50px 20px;
    background-color: #f8f9fa;
    text-align: center;
}

.team-section h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.team-member {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
}

.team-member h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 14px;
    color: #555;
}

.about-section {
    padding: 50px 20px;
    background-color: #f8f9fa;
    text-align: center;
    border-radius: 8px;
    gap: 20px;

}

.about-header h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.about-header p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.about-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-item h3 {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 10px;
}

.about-item p {
    font-size: 14px;
    color: #555;
}
#user-options {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    right: 20px;
}

/* Style the user options list items */
#user-options li {
    padding: 8px 16px;
}

/* Style the user options links */
#user-options li a {
    text-decoration: none;
    color: black;
    display: block;
}
#user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
}
/* Change background color on hover */
#user-options li a:hover {
    background-color: #ddd;
}