/* Resetowanie stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ogólny styl strony */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    position: relative;
}

/* Styl nawigacji */
/* Ogólne ustawienia nawigacji */
.navbar {
    background-color: #168fb2; /* Tło navbar */
    padding: 20px;
    position: fixed; /* Stała pozycja na górze strony */
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Ustawienia dla listy linków */
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px; /* Odstęp między elementami */
    margin: 0;
}

/* Stylowanie dla każdego linku */
.nav-links a, .dropbtn {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* Efekty po najechaniu na link */
.nav-links a:hover, .dropdown:hover .dropbtn {
    color: #00e6e6;
    text-decoration: underline;
}

/* Styl przycisku login */
#login-btn {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px 20px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

/* Efekt najechania na przycisk login */
#login-btn:hover {
    background-color: white;
    color: #168fb2;
}
.content {
    margin-top: 63px; /* Dodaj margines od góry, aby nawigacja nie przesłaniała treści */
}

/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: linear-gradient(135deg, rgba(0, 123, 255, 0.8), rgba(0, 230, 230, 0.9));
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

/* Formularze w modalach */
.modal-form {
    display: none;
}

.modal-form.active {
    display: block;
}

input, button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input {
    background-color: rgba(255, 255, 255, 0.8);
}

button {
    background: linear-gradient(135deg, #00c3ff, #007bff);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(135deg, #007bff, #0056b3);
    transform: scale(1.05);
}

a {
    color: #00c3ff;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #007bff;
}

/* Styl sekcji poniżej ekranu logowania */
.section {
    background: linear-gradient(135deg, #007bff, #00e6e6);
    color: white;
    padding: 30px 20px;
    text-align: center;
    border-radius: 8px;
    margin: 20px;
}

.section p {
    font-size: 16px;
    line-height: 1.5;
}

.section button {
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.section button:hover {
    background: white;
    color: #007bff;
}

/* Przyciski */
/* Styl sekcji z przyciskiem */
.section2 {
    background: linear-gradient(135deg, #007bff, #00e6e6); /* Tło gradientowe */
    color: white;
    padding: 30px 20px;
    text-align: center; /* Wyśrodkowanie treści (przycisku) */
    border-radius: 8px;
    margin: 10px;
}

.section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Pełna wysokość ekranu */
}

.btn-primary {
    color: #eaeaea;
    font-size: 20px;
    font-weight: 500;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    background-color: transparent;
    border: 2px solid #eaeaea;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block; /* Zapewnia, że element będzie traktowany jak przycisk */
    text-align: center;
    width:auto;
}

.btn-primary:hover {
    background-color: #eaeaea;
    color: #168fb2;
}


/* Styl dla kontenera karuzeli */
.carousel-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styl dla samej karuzeli */
.carousel {
    display: flex;
    animation: slide 12s infinite;
}

/* Styl dla pojedynczego slajdu */
.carousel-slide {
    min-width: 100%;
    transition: transform 1s ease-in-out;
}

.carousel-slide img {
    width: 100%; /* Możesz dostosować szerokość zdjęcia, np. "80%" */
    height: 500px; /* Określa stałą wysokość dla zdjęcia */
    object-fit: cover; /* Zapewnia, że zdjęcia będą odpowiednio przycięte, aby pasowały do kontenera */
}

/* Animacja przesuwania slajdów */
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-100%);
    }

    66% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Stopka */
.footer {
    background-color: #007bff; /* Kolor tła stopki */
    color: white; /* Kolor tekstu */
    padding: 20px 0; /* Wewnętrzne odstępy */
    text-align: center; /* Wyśrodkowanie tekstu */
    position: absolute;
    bottom: 0;
    width: 100%; /* Stopka zajmuje całą szerokość */
}

.footer-content {
    max-width: 1200px; /* Maksymalna szerokość kontenera */
    margin: 0 auto; /* Wyśrodkowanie stopki na stronie */
    padding: 0 20px; /* Odstępy wewnętrzne */
}

.footer p {
    font-size: 14px; /* Rozmiar czcionki */
    margin: 10px 0; /* Odstęp między akapitem a linkami */
}

.footer-links {
    list-style: none; /* Usunięcie punktów listy */
    padding: 0; /* Usunięcie odstępów */
    display: flex; /* Wyświetlanie linków w jednym wierszu */
    justify-content: center; /* Wyśrodkowanie linków */
    gap: 20px; /* Odstęp między linkami */
}

.footer-links a {
    color: white; /* Kolor tekstu linków */
    text-decoration: none; /* Usunięcie podkreślenia */
    font-size: 14px; /* Rozmiar czcionki */
    transition: color 0.3s ease; /* Efekt przejścia na kolor */
}

.footer-links a:hover {
    color: #00e6e6; /* Kolor przy najechaniu */
}